@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 1rem;
}

body > nav {
  grid-area: navbar;
}

body > main {
  grid-area: main;
  @apply p-4 sm:p-6 lg:p-8;
}

body > footer {
  grid-area: footer;
}

body {
  @apply grid h-screen;
  grid-template:
    'navbar' 3.5rem
    'main' 1fr
    'footer' 3.5rem;
}
