@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 1rem;
}

body > nav {
  grid-area: navbar;
}

body > main {
  grid-area: main;
}

body > footer {
  grid-area: footer;
}

body {
  @apply h-screen grid;
  grid-template:
    'navbar' 3.5rem
    'main'   1fr
    'footer' 2.5rem;
}